
<div class="contaiter-login">
  <form (ngSubmit)="login()" 
        (input)="reset()" 
        class="form-control formulario">

    <!-- Input username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input  [(ngModel)]="userLogin.Username"   
                name="Username" type="text" 
                class="form-control" id="username" 
                aria-describedby="emailHelp"
                placeholder="Enter user" required>
      </div>

      <!-- Input password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input [(ngModel)]="userLogin.Password"
               name="password" type="password" 
               class="form-control" id="password" 
               placeholder="Enter password" required>
      </div>

      <button class="btn btn-primary">Log in</button> 
    </form> 

    <!-- Mensaje de error condicional -->
    <div class="message row" *ngIf="show">
      <p class="invalid">
        {{message}}
      </p>
    </div>   


    

    
   
</div>

