<h1>Assistance of the day</h1>
<hr>
<div class="row">
    <!-- Pase de lista -->
    <div class="col">
        <h2>List of the day</h2>
        <div class="header-title">
            <h3>Names</h3>
            <h3 class="present">Present</h3>
        </div>
        <ul class="list-group listado">
            <li class="list-group-item "
                *ngFor="let item of listStudent" 
                class="list-group-item">
                <span>{{item.Student_name }} {{item.Student_lastname}}</span>
                <!--<label for="yes">Yes <input type="radio" name="absent-{{item.Student_id}}" value="Yes" id="yes"></label>
                <label for="no">No <input type="radio" name="absent-{{item.Student_id}}" value="No" id="no"></label>-->
                
                    <button (click)="assistStudent(item.Student_id,'Yes')"
                        type="button" class="btn btn-primary btn-sm">yes</button>
                
                     <button (click)="assistStudent(item.Student_id,'No')"
                        type="button" class="btn btn-danger btn-sm">No</button>         
            </li>
        </ul>
    </div>

    <!-- Para ver el resultado de la lista -->
    <div class="col">
        <h2>Historial</h2>
        <div class="header-title">
            <h3>Search by date</h3>
        </div>
        <div class="input-group date" data-provide="datepicker">
            <input type="date" class="form-control" (change)="reset()" [(ngModel)]="date" name="date" >

            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
            <button (click)="getDateAssist()" class="btn btn-secondary" >Search</button>
        </div>
        <hr>

        <!-- Para los mensajes -->
        <app-alert
                   [showMessage]="showMessage"
                   [message]="message" ></app-alert>
        <!-- Fin de los mensajes -->

        <!-- Muestra el resumen del pase de lista -->
        <div *ngIf="showListAssist" >
            <div class="header-title">
                <h3>Names</h3>
                <h3 class="present">Present</h3>
            </div>                        
            <ul class="list-group">
                <li *ngFor="let studen of dateList"
                class="list-group-item d-flex justify-content-between align-items-center" >
                {{ studen.Student }}
                <span class="badge bg-primary rounded-pill">{{studen.Present}}</span>
                </li>
            </ul>   
        </div>        
    </div>
</div>