<div class="header-top">
  <div class="col-left">
    <h1>Grades</h1>
  </div>
  <div class="col-right">
    <app-button-back></app-button-back>
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <!-- Para los mensajes -->
    <app-alert [message]="message" 
               [typeAlert]="typeAlert" 
               [showAlert]="showAlert">
    </app-alert>  
    <!-- Fin de los mensajes -->
    
    <form (ngSubmit)="addGrade()"  class="form-control">
        <div class="col-md">
            <label for="inputState" class="form-label"><h2>Student</h2></label>
            <select (change)="onSelecction(select.value)" [value]="valueSelect" #select  name="value" id="inputState" class="form-select form-select-sm ">
              <option selected>Choose...</option>
              <option *ngFor="let studetn of students"
                       value={{studetn.Student_id}} name="idStu">
                       {{studetn.Student_name}} {{studetn.Student_lastname}}</option>
            </select>
          </div>
        <div class="col-md">
          <label for="spanish" class="orm-label">Spanish</label>
          <input type="number" 
                 class="form-control form-control-sm" 
                 id="spanish" min="0" max="100"  
                 name="spanish" required
                 [(ngModel)]="grade.espanol">
        </div>
        <div class="col-md">
            <label for="math" class="form-label">Maths</label>
            <input type="number" 
                   class="form-control form-control-sm" 
                   id="math" min="0" max="100" 
                   name="math" required
                   [(ngModel)]="grade.matematica">
        </div>
        <div class="col-md">
            <label for="social" class="form-label">Social Sciences</label>
            <input type="number" 
                   class="form-control form-control-sm" 
                   id="social" min="0" max="100" 
                   name="social" required
                   [(ngModel)]="grade.sociales">
        </div>
        <div class="col-md">
            <label for="natural" class="form-label">Natural Sciences</label>
            <input type="number" 
                   class="form-control form-control-sm" 
                   id="natural" min="0" max="100" 
                   name="natural" required
                   [(ngModel)]="grade.naturales">
        </div>    
        <!-- button -->
        <div class="col-md">
          <button class="btn btn-success col-md-12">Publish</button>
        </div>
      </form>
      <!-- Fin del formulario -->
</div>

<!-- Listado de notas -->
<div class="col">
    <div >
        <h2>Grade</h2>  
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col-2">Nombre</th>
              <th scope="col">Spanis</th>
              <th scope="col">Math</th>
              <th scope="col">Socials</th>
              <th scope="col">Natural</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let studen of noteList; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td colspan="">{{studen.Name}}</td>
              <td colspan="">{{studen.Espanol | changeToLetter }}</td>
              <td colspan="">{{studen.Matematica | changeToLetter}}</td>
              <td colspan="">{{studen.Sociales | changeToLetter}}</td>
              <td colspan="">{{studen.Naturales | changeToLetter}}</td>
            </tr>
          </tbody>
        </table>      
    </div> 
</div>
</div>
   