<mat-sidenav-container fullscreen>
  <!-- sidebar -->
  <mat-sidenav #sidenav mode="push">

    <mat-toolbar color="primary">
      <span>menu</span>
      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./list"
         mat-list-item
         (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a routerLink="./assist"
         mat-list-item
         (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>check</mat-icon>
        <span>Assist</span>
      </a>

      <a routerLink="./grade"
         mat-list-item
         (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>checklist</mat-icon>
        <span>Grades</span>
      </a>

      <a routerLink="./add"
         mat-list-item
         (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Add new student</span>
      </a>

      <a routerLink="./edit:/id"
         mat-list-item
         (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>edit</mat-icon>
        <span>Edit student</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- end sidebar -->

  <!-- navbar -->
  <mat-toolbar>
    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

