<h1>Student list</h1>

<!-- Para los mensajes -->
<app-alert
          [showMessage]="showMessage"
          [message]="message" ></app-alert>
<!-- Fin de los mensajes -->

<!-- Input para realizar la busqueda de los estudiantes -->
<hr>
<form  class="control">
  <input
        (keyup.enter)="searchStudent(termino.value)"
        (input)="reset()"
        #termino
        name="search" 
        type="text"
        placeholder="Search name" 
        class="form-control">
</form>

<!-- Tabla de estudiantes -->
<table class="table caption-top table-striped" *ngIf="listStudent.length > 0" >
  <thead>
    <tr >
      <th scope="col" >#</th>
      <th scope="col" >Name</th>
      <th scope="col" >Last name</th>
      <th scope="col" >Gender</th>
      <th scope="col" >Age</th>
      <th colspan="2">Actions</th>    
    </tr>
  </thead>

  <tbody>
    <tr  *ngFor="let item of listStudent; let i = index">
      <td class="col">{{i + 1}}</td>
      <td class="col">{{ item.Student_name }}</td>
      <td class="col">{{item.Student_lastname}}</td>
      <td class="col">{{item.Gender}}</td>
      <td class="col-2">{{item.Age}}</td>      
      <td >
        <a 
            class="btn btn-success btn-sm" 
            [routerLink]="['/student/edit/',item.Student_id]" >Editar
        </a>

        <a id="btn-delete"
                (click)="removeStudent(item.Student_id,item.Student_name,item.Student_lastname)"
                class="btn btn-danger btn-sm">
                Remove</a>
      </td>
      
    </tr>
  </tbody>
</table>
